In [1]:
import mysql.connector
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')

db_config = {
    "host": "localhost",
    "user": "root",
    "password": "hidden",
    "database": "genshin"
}

conn = mysql.connector.connect(**db_config)

# Data processing

In [2]:
pd.read_sql("SHOW TABLES", conn)

  Tables_in_genshin
0             abyss
1      char_details
2           revenue

In [3]:
abyss = pd.read_sql("SELECT * FROM abyss;", conn)

In [4]:
abyss.head()

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,55.56,27.6,51.3,47.4,44.1,61.4,42,...,24.6,17.9,15.7,30.1,8.6,5.4,7.9,5.9,3.6,30.88
1,Alhaitham,5,Dendro,,,,,,,,...,,,,,56,56.6,57.6,40.9,64.8,55.18
2,Amber,4,Pyro,1.9,1.5,0.3,0.2,0.7,0.8,1,...,0.2,0.4,0.5,1,0.2,0.1,0.1,0.2,0.2,0.56
3,Arataki Itto,5,Geo,,,,,,,39,...,17.3,16.9,15.2,39.6,10.6,6.4,11.1,8.2,5.3,20.44
4,Baizhu,5,Dendro,,,,,,,,...,,,,,,,,53.5,59.4,56.45

In [5]:
char = pd.read_sql("SELECT * FROM char_details", conn)
char.head()

,character_name,Region,rarity,vision,weapon_type,constellation,birthday,special_dish,affiliation
0,Albedo,Mondstadt,5,Geo,Sword,Princeps Cretaceus,13-Sep,Woodland Dream,Knights of Favonius
1,Alhaitham,Sumeru,5,Dendro,Sword,Vultur Volans,11-Feb,Ideal Circumstance,Sumeru Akademiya
2,Amber,Mondstadt,4,Pyro,Bow,Lepus,10-Aug,Outrider's Champion Steak!,Knights of Favonius
3,Arataki Itto,Inazuma,5,Geo,Claymore,Taurus Iracundus,01-Jun,Way of the Strong,Arataki Gang
4,Baizhu,Liyue,5,Dendro,Catalyst,Lagenaria,25-Apr,Heat-Quelling Soup,Bubu Pharmacy

In [6]:
revenue = pd.read_sql("SELECT * FROM revenue", conn)
revenue.head()

         Banner (IOS CN Market only)      Element(s)  Revenue (USD)
0   Hu Tao & Yelan (2nd & 1st Rerun)     Pyro, Hydro       46556153
1  Shougun & Ayato (2nd & 1st Rerun)  Electro, Hydro       37919130
2   Ayaka & Shenhe (2nd & 1st Rerun)            Cryo       35962024
3                      Ayaka (Rerun)            Cryo       35939066
4       Nahida & Yoimiya (2nd Rerun)    Dendro, Pyro       34017290

In [7]:
abyss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Version ->     66 non-null     object
 1   Rarity         66 non-null     int64
 2   Vision         66 non-null     object
 3   1.5            66 non-null     object
 4   1.6            66 non-null     object
 5   2              66 non-null     object
 6   2.1            66 non-null     object
 7   2.2            66 non-null     object
 8   2.3            66 non-null     object
 9   2.4            66 non-null     object
 10  2.5            66 non-null     object
 11  2.6            66 non-null     object
 12  2.7            66 non-null     object
 13  2.8            66 non-null     object
 14  3              66 non-null     object
 15  3.1            66 non-null     object
 16  3.2            66 non-null     object
 17  3.3            66 non-null     object
 18  3.4            66 non-null     object
 19  3.5            66 non-null     object
 20  3.6            66 non-null     object
 21  3.7            66 non-null     float64
 22  3.8            66 non-null     float64
 23  Average usage  66 non-null     float64
dtypes: float64(3), int64(1), object(20)
memory usage: 12.5+ KB

In [8]:
char.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   character_name  66 non-null     object
 1   Region          66 non-null     object
 2   rarity          66 non-null     int64
 3   vision          66 non-null     object
 4   weapon_type     66 non-null     object
 5   constellation   66 non-null     object
 6   birthday        66 non-null     object
 7   special_dish    66 non-null     object
 8   affiliation     66 non-null     object
dtypes: int64(1), object(8)
memory usage: 4.8+ KB

In [9]:
revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Banner (IOS CN Market only)  51 non-null     object
 1   Element(s)                   51 non-null     object
 2   Revenue (USD)                51 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

# Abyss Table

#### The first issue I notice is that the data in the abyss columns aren't numeric. I fix this by first creating a list of the columns I wan't to turn into the numeric type and use pandas to convert them.

In [10]:
abyss_cols = abyss.columns.tolist()
del abyss_cols[0]
del abyss_cols[0]
del abyss_cols[0]
del abyss_cols[-1]
abyss_cols

['1.5',
 '1.6',
 '2',
 '2.1',
 '2.2',
 '2.3',
 '2.4',
 '2.5',
 '2.6',
 '2.7',
 '2.8',
 '3',
 '3.1',
 '3.2',
 '3.3',
 '3.4',
 '3.5',
 '3.6',
 '3.7',
 '3.8']

In [11]:
for col in abyss_cols:
    abyss[col] = pd.to_numeric(abyss[col], errors='coerce')
    
abyss

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,55.56,27.6,51.3,47.4,44.1,61.4,42.0,...,24.6,17.9,15.7,30.1,8.6,5.4,7.9,5.9,3.6,30.88
1,Alhaitham,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,56.0,56.6,57.6,40.9,64.8,55.18
2,Amber,4,Pyro,1.90,1.5,0.3,0.2,0.7,0.8,1.0,...,0.2,0.4,0.5,1.0,0.2,0.1,0.1,0.2,0.2,0.56
3,Arataki Itto,5,Geo,NaN,NaN,NaN,NaN,NaN,NaN,39.0,...,17.3,16.9,15.2,39.6,10.6,6.4,11.1,8.2,5.3,20.44
4,Baizhu,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.5,59.4,56.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,7.3,11.0,4.7,8.5,8.70
62,Yelan,5,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.0,71.7,68.9,72.9,61.9,79.9,86.6,72.7,70.9,76.12
63,Yoimiya,5,Pyro,NaN,NaN,NaN,32.5,28.0,20.0,27.0,...,44.3,24.2,24.9,34.8,9.0,18.6,8.2,18.5,4.9,24.81
64,Yun Jin,4,Geo,NaN,NaN,NaN,NaN,NaN,NaN,21.0,...,11.0,5.4,4.9,13.8,2.8,3.0,1.6,1.7,1.1,6.77
65,Zhongli,5,Geo,83.50,94.6,95.8,92.2,85.2,82.9,68.0,...,83.9,67.2,67.9,87.6,77.8,65.3,65.7,66.5,51.7,77.86

In [12]:
abyss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Version ->     66 non-null     object
 1   Rarity         66 non-null     int64
 2   Vision         66 non-null     object
 3   1.5            30 non-null     float64
 4   1.6            32 non-null     float64
 5   2              33 non-null     float64
 6   2.1            36 non-null     float64
 7   2.2            40 non-null     float64
 8   2.3            41 non-null     float64
 9   2.4            44 non-null     float64
 10  2.5            45 non-null     float64
 11  2.6            46 non-null     float64
 12  2.7            48 non-null     float64
 13  2.8            49 non-null     float64
 14  3              52 non-null     float64
 15  3.1            55 non-null     float64
 16  3.2            57 non-null     float64
 17  3.3            59 non-null     float64
 18  3.4            61 non-null     float64
 19  3.5            63 non-null     float64
 20  3.6            64 non-null     float64
 21  3.7            66 non-null     float64
 22  3.8            66 non-null     float64
 23  Average usage  66 non-null     float64
dtypes: float64(21), int64(1), object(2)
memory usage: 12.5+ KB

#### Now we get rid of the null values, considering the table consists of usage rate, if it's null, it indicates the character was not used at all during the version patch. Now while this may seem to extreme, it simply means that the character has not been released at the time of patch.

In [13]:
abyss = abyss.replace(np.nan, '', regex=True)
abyss

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,55.56,27.6,51.3,47.4,44.1,61.4,42.0,...,24.6,17.9,15.7,30.1,8.6,5.4,7.9,5.9,3.6,30.88
1,Alhaitham,5,Dendro,,,,,,,,...,,,,,56.0,56.6,57.6,40.9,64.8,55.18
2,Amber,4,Pyro,1.9,1.5,0.3,0.2,0.7,0.8,1.0,...,0.2,0.4,0.5,1.0,0.2,0.1,0.1,0.2,0.2,0.56
3,Arataki Itto,5,Geo,,,,,,,39.0,...,17.3,16.9,15.2,39.6,10.6,6.4,11.1,8.2,5.3,20.44
4,Baizhu,5,Dendro,,,,,,,,...,,,,,,,,53.5,59.4,56.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,,,,,,,,...,,,,,12.0,7.3,11.0,4.7,8.5,8.70
62,Yelan,5,Hydro,,,,,,,,...,89.0,71.7,68.9,72.9,61.9,79.9,86.6,72.7,70.9,76.12
63,Yoimiya,5,Pyro,,,,32.5,28.0,20.0,27.0,...,44.3,24.2,24.9,34.8,9.0,18.6,8.2,18.5,4.9,24.81
64,Yun Jin,4,Geo,,,,,,,21.0,...,11.0,5.4,4.9,13.8,2.8,3.0,1.6,1.7,1.1,6.77
65,Zhongli,5,Geo,83.5,94.6,95.8,92.2,85.2,82.9,68.0,...,83.9,67.2,67.9,87.6,77.8,65.3,65.7,66.5,51.7,77.86

In [14]:
abyss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Version ->     66 non-null     object
 1   Rarity         66 non-null     int64
 2   Vision         66 non-null     object
 3   1.5            66 non-null     object
 4   1.6            66 non-null     object
 5   2              66 non-null     object
 6   2.1            66 non-null     object
 7   2.2            66 non-null     object
 8   2.3            66 non-null     object
 9   2.4            66 non-null     object
 10  2.5            66 non-null     object
 11  2.6            66 non-null     object
 12  2.7            66 non-null     object
 13  2.8            66 non-null     object
 14  3              66 non-null     object
 15  3.1            66 non-null     object
 16  3.2            66 non-null     object
 17  3.3            66 non-null     object
 18  3.4            66 non-null     object
 19  3.5            66 non-null     object
 20  3.6            66 non-null     object
 21  3.7            66 non-null     float64
 22  3.8            66 non-null     float64
 23  Average usage  66 non-null     float64
dtypes: float64(3), int64(1), object(20)
memory usage: 12.5+ KB

#### The issue with this is that it changes the type back into objects, which is not what I want. I'll revert the changes and keep the null values. This will not be an issue since the visualization tools I'll be using (Power BI and sns/matplotlib) can easily just ignore the null values.

In [15]:
for col in abyss_cols:
    abyss[col] = pd.to_numeric(abyss[col], errors='coerce')
    
abyss

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,55.56,27.6,51.3,47.4,44.1,61.4,42.0,...,24.6,17.9,15.7,30.1,8.6,5.4,7.9,5.9,3.6,30.88
1,Alhaitham,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,56.0,56.6,57.6,40.9,64.8,55.18
2,Amber,4,Pyro,1.90,1.5,0.3,0.2,0.7,0.8,1.0,...,0.2,0.4,0.5,1.0,0.2,0.1,0.1,0.2,0.2,0.56
3,Arataki Itto,5,Geo,NaN,NaN,NaN,NaN,NaN,NaN,39.0,...,17.3,16.9,15.2,39.6,10.6,6.4,11.1,8.2,5.3,20.44
4,Baizhu,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.5,59.4,56.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,7.3,11.0,4.7,8.5,8.70
62,Yelan,5,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.0,71.7,68.9,72.9,61.9,79.9,86.6,72.7,70.9,76.12
63,Yoimiya,5,Pyro,NaN,NaN,NaN,32.5,28.0,20.0,27.0,...,44.3,24.2,24.9,34.8,9.0,18.6,8.2,18.5,4.9,24.81
64,Yun Jin,4,Geo,NaN,NaN,NaN,NaN,NaN,NaN,21.0,...,11.0,5.4,4.9,13.8,2.8,3.0,1.6,1.7,1.1,6.77
65,Zhongli,5,Geo,83.50,94.6,95.8,92.2,85.2,82.9,68.0,...,83.9,67.2,67.9,87.6,77.8,65.3,65.7,66.5,51.7,77.86

# Elemental Usage

#### Next I want to create a table that'll allow me to see the elemental usage rate over time. I do this by using the grouping function to group together the elements throughout their versions.

In [16]:
elemental_usage = abyss.groupby('Vision')[abyss_cols].mean()

elemental_usage

,1.5,1.6,2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8
Vision,,,,,,,,,,,,,,,,,,,,
Anemo,59.375000,61.580000,40.900000,41.400000,39.966667,33.433333,26.500000,26.766667,36.766667,28.083333,30.528571,24.014286,20.071429,19.642857,16.522222,15.300000,12.422222,11.722222,15.988889,12.666667
Cryo,35.008333,28.757143,26.914286,28.500000,30.750000,27.525000,30.244444,21.266667,33.966667,12.911111,24.700000,24.488889,20.433333,17.500000,11.220000,5.630000,11.100000,8.172727,10.800000,10.409091
Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.700000,20.450000,28.466667,29.366667,33.860000,33.860000,29.400000,26.500000,30.250000
Electro,12.240000,7.740000,5.900000,11.985714,18.771429,19.457143,16.428571,23.900000,15.825000,14.966667,13.711111,14.240000,16.900000,19.663636,19.472727,17.090909,18.545455,17.900000,15.100000,16.418182
Geo,40.715000,33.525000,40.700000,38.125000,34.400000,39.020000,29.571429,38.428571,12.828571,29.657143,22.757143,20.571429,16.228571,15.571429,28.442857,14.842857,11.728571,12.771429,12.085714,9.014286
Hydro,37.702500,34.500000,43.475000,41.250000,41.580000,42.620000,47.800000,43.200000,51.283333,37.471429,47.057143,46.857143,34.488889,39.000000,37.166667,31.655556,35.211111,39.611111,31.844444,42.522222
Pyro,29.571429,27.142857,21.014286,24.100000,27.480000,25.130000,23.700000,24.470000,12.580000,29.190000,32.330000,27.640000,20.980000,18.550000,22.120000,16.210000,22.600000,16.654545,22.045455,12.918182

#### It looks a bit hard to read so I limited it to 2 decimal places. Note that we leave the null values in due to the same reason above.

In [17]:
elemental_usage = elemental_usage.round(decimals=2)
elemental_usage

,1.5,1.6,2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8
Vision,,,,,,,,,,,,,,,,,,,,
Anemo,59.38,61.58,40.90,41.40,39.97,33.43,26.50,26.77,36.77,28.08,30.53,24.01,20.07,19.64,16.52,15.30,12.42,11.72,15.99,12.67
Cryo,35.01,28.76,26.91,28.50,30.75,27.52,30.24,21.27,33.97,12.91,24.70,24.49,20.43,17.50,11.22,5.63,11.10,8.17,10.80,10.41
Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.70,20.45,28.47,29.37,33.86,33.86,29.40,26.50,30.25
Electro,12.24,7.74,5.90,11.99,18.77,19.46,16.43,23.90,15.82,14.97,13.71,14.24,16.90,19.66,19.47,17.09,18.55,17.90,15.10,16.42
Geo,40.72,33.52,40.70,38.12,34.40,39.02,29.57,38.43,12.83,29.66,22.76,20.57,16.23,15.57,28.44,14.84,11.73,12.77,12.09,9.01
Hydro,37.70,34.50,43.48,41.25,41.58,42.62,47.80,43.20,51.28,37.47,47.06,46.86,34.49,39.00,37.17,31.66,35.21,39.61,31.84,42.52
Pyro,29.57,27.14,21.01,24.10,27.48,25.13,23.70,24.47,12.58,29.19,32.33,27.64,20.98,18.55,22.12,16.21,22.60,16.65,22.05,12.92

In [18]:
# elemental_usage.to_csv('csv_files/elemental_usage.csv', index=False)

In [19]:
# abyss.to_csv('csv_files/abyss.csv', index=False)

# Character Table

#### There's some information I'd like that's missing from the data. The flat statistics of each character and the breakdown of the double banners present on the revenue table. So I obtain them first.

### Obtaining Flat Stats

In [20]:
url_1='https://genshin-impact.fandom.com/wiki/Character/Comparison'
url_2='https://genshin-impact.fandom.com/wiki/Characters'
tables_1 = pd.read_html(url_1)
tables_2 = pd.read_html(url_2)

tables_2[1]

    Icon          Name  Quality Element    Weapon     Region     Model Type
0    NaN        Albedo      NaN     Geo     Sword  Mondstadt    Medium Male
1    NaN     Alhaitham      NaN  Dendro     Sword     Sumeru      Tall Male
2    NaN          Aloy      NaN    Cryo       Bow       None  Medium Female
3    NaN         Amber      NaN    Pyro       Bow  Mondstadt  Medium Female
4    NaN  Arataki Itto      NaN     Geo  Claymore    Inazuma      Tall Male
..   ...           ...      ...     ...       ...        ...            ...
65   NaN        Yaoyao      NaN  Dendro   Polearm      Liyue   Short Female
66   NaN         Yelan      NaN   Hydro       Bow      Liyue    Tall Female
67   NaN       Yoimiya      NaN    Pyro       Bow    Inazuma  Medium Female
68   NaN       Yun Jin      NaN     Geo   Polearm      Liyue  Medium Female
69   NaN       Zhongli      NaN     Geo   Polearm      Liyue      Tall Male

[70 rows x 7 columns]

In [21]:
tables_1[0]

    Icon          Name     HP  ATK  DEF    Ascension Stat Ascension Stat Value
0    NaN        Albedo  13225  251  876     Geo DMG Bonus                28.8%
1    NaN     Alhaitham  13348  313  781  Dendro DMG Bonus                28.8%
2    NaN          Aloy  10898  233  676    Cryo DMG Bonus                28.8%
3    NaN         Amber   9461  223  600               ATK                24.0%
4    NaN  Arataki Itto  12858  227  959         CRIT Rate                19.2%
..   ...           ...    ...  ...  ...               ...                  ...
65   NaN        Yaoyao  12288  212  750                HP                24.0%
66   NaN         Yelan  14450  243  547         CRIT Rate                19.2%
67   NaN       Yoimiya  10164  322  614         CRIT Rate                19.2%
68   NaN       Yun Jin  10657  191  734   Energy Recharge                26.8%
69   NaN       Zhongli  14695  251  737     Geo DMG Bonus                28.8%

[70 rows x 7 columns]

In [22]:
df1 = tables_1[0].drop(['Icon'], axis=1)
df2 = tables_2[1].drop(['Icon'], axis=1)
merged = df1.merge(df2, on='Name')

char.rename(columns={'character_name' : 'Name'}, inplace=True)
new_char = char.merge(merged, on='Name')
new_char.rename(columns={'Region_y' : 'Nation'}, inplace=True)
new_char = new_char.drop(['Quality', 'Region_x'], axis=1)
new_char.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 0 to 65
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  66 non-null     object
 1   rarity                66 non-null     int64
 2   vision                66 non-null     object
 3   weapon_type           66 non-null     object
 4   constellation         66 non-null     object
 5   birthday              66 non-null     object
 6   special_dish          66 non-null     object
 7   affiliation           66 non-null     object
 8   HP                    66 non-null     int64
 9   ATK                   66 non-null     int64
 10  DEF                   66 non-null     int64
 11  Ascension Stat        66 non-null     object
 12  Ascension Stat Value  66 non-null     object
 13  Element               66 non-null     object
 14  Weapon                66 non-null     object
 15  Nation                66 non-null     object
 16  Model Type            66 non-null     object
dtypes: int64(4), object(13)
memory usage: 9.3+ KB

In [23]:
new_char

,Name,rarity,vision,weapon_type,constellation,birthday,special_dish,affiliation,HP,ATK,DEF,Ascension Stat,Ascension Stat Value,Element,Weapon,Nation,Model Type
0,Albedo,5,Geo,Sword,Princeps Cretaceus,13-Sep,Woodland Dream,Knights of Favonius,13225,251,876,Geo DMG Bonus,28.8%,Geo,Sword,Mondstadt,Medium Male
1,Alhaitham,5,Dendro,Sword,Vultur Volans,11-Feb,Ideal Circumstance,Sumeru Akademiya,13348,313,781,Dendro DMG Bonus,28.8%,Dendro,Sword,Sumeru,Tall Male
2,Amber,4,Pyro,Bow,Lepus,10-Aug,Outrider's Champion Steak!,Knights of Favonius,9461,223,600,ATK,24.0%,Pyro,Bow,Mondstadt,Medium Female
3,Arataki Itto,5,Geo,Claymore,Taurus Iracundus,01-Jun,Way of the Strong,Arataki Gang,12858,227,959,CRIT Rate,19.2%,Geo,Claymore,Inazuma,Tall Male
4,Baizhu,5,Dendro,Catalyst,Lagenaria,25-Apr,Heat-Quelling Soup,Bubu Pharmacy,13348,192,499,HP,28.8%,Dendro,Catalyst,Liyue,Tall Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,Polearm,Osmanthus,06-Mar,Qingce Household Dish,Streetward Rambler's Abode,12288,212,750,HP,24.0%,Dendro,Polearm,Liyue,Short Female
62,Yelan,5,Hydro,Bow,Umbrabilis Orchis,20-Apr,Dew-Dipped Shrimp,Yanshang Teahouse,14450,243,547,CRIT Rate,19.2%,Hydro,Bow,Liyue,Tall Female
63,Yoimiya,5,Pyro,Bow,Carassius Auratus,21-Jun,Summer Festival Fish,Naganohara Fireworks,10164,322,614,CRIT Rate,19.2%,Pyro,Bow,Inazuma,Medium Female
64,Yun Jin,4,Geo,Polearm,Opera Grandis,21-May,Cloud-Shrouded Jade,Yun-Han Opera House,10657,191,734,Energy Recharge,26.8%,Geo,Polearm,Liyue,Medium Female
65,Zhongli,5,Geo,Polearm,Lapis Dei,31-Dec,Slow-Cooked Bamboo Shoot Soup,Liyue Harbor,14695,251,737,Geo DMG Bonus,28.8%,Geo,Polearm,Liyue,Tall Male

# Breaking Down The Double Banners

#### The first step is to split the column. 1 column for each character, if a character is not present, the 2nd column will simply contain 'none'.

In [24]:
revenue_1 = revenue['Banner (IOS CN Market only)'].str.split('&', n=1, expand=True)

In [25]:
revenue_1.columns = ['character1', 'character2']
revenue = revenue.drop(['Banner (IOS CN Market only)'], axis=1)
revenue = pd.concat([revenue, revenue_1], axis=1)

#### Next, I repeat the same step except for the elements

In [26]:
revenue_1 = revenue['Element(s)'].str.split(',', n=1, expand=True)
revenue_1.columns = ['element1', 'element2']
revenue = revenue.drop(['Element(s)'], axis=1)
revenue = pd.concat([revenue, revenue_1], axis=1)

#### Now I want to create 2 additional columns, each for the corresponding character. The column will indicate whether it is a rerun banner and if it is, then which rerun it is.

In [27]:
def find_index(x):
    for index, letter in enumerate(x):
        if letter ==  '(':
            return index

rerun1 = []        
for char in revenue['character1']:
    if '(' in char:
        index = find_index(char);
        rerun1.append(char[index:])
    else:
        rerun1.append('no')
revenue['rerun1'] = pd.DataFrame(rerun1)

In [28]:
revenue['character2'].fillna('none', inplace=True)
revenue['element2'].fillna('none', inplace=True)

temp = []
for char in revenue['character2']:
    if '(' in char:
        index = find_index(char)
        temp.append(char[index:])
    else:
        temp.append('no')

rerun1_v2 = []
rerun2 = []

for char in temp:
    if '&' in char:
        rerun1_v2.append(char.split('&')[0])
        rerun2.append(char.split('&')[1])
    else:
        rerun1_v2.append('no')
        rerun2.append(char)
revenue['rerun2'] = pd.DataFrame(rerun2)

In [29]:
for index, char in enumerate(revenue['rerun1']):
    if char != rerun1_v2[index]:
        revenue['rerun1'][index] = rerun1_v2[index]
        
for index,char in enumerate(revenue['character1']):
    if '(Rerun)' in char:
        revenue['rerun1'][index] = '1'

for index, char in enumerate(revenue['character2']):
    if '(Rerun)' in char:
        revenue['rerun2'][index] = '1'
revenue

,Revenue (USD),character1,character2,element1,element2,rerun1,rerun2
0,46556153,Hu Tao,Yelan (2nd & 1st Rerun),Pyro,Hydro,(2nd,1st Rerun)
1,37919130,Shougun,Ayato (2nd & 1st Rerun),Electro,Hydro,(2nd,1st Rerun)
2,35962024,Ayaka,Shenhe (2nd & 1st Rerun),Cryo,none,(2nd,1st Rerun)
3,35939066,Ayaka (Rerun),none,Cryo,none,1,no
4,34017290,Nahida,Yoimiya (2nd Rerun),Dendro,Pyro,no,(2nd Rerun)
5,33560259,Shougun,Kokomi (Rerun),Electro,Hydro,no,1
6,33020905,Raiden Shogun,none,Electro,none,no,no
7,32177144,Yelan,Xiao (2nd Rerun),Hydro,Anemo,no,(2nd Rerun)
8,30632752,Venti,none,Anemo,none,no,no
9,28019235,Nahida,Nilou (1st Rerun),Dendro,Hydro,no,(1st Rerun)
10,27126505,Wanderer,Itto (2nd Rerun),Anemo,Geo,no,(2nd Rerun)
11,26780298,Zhongli,Ganyu (2nd & 1st Rerun),Geo,Cryo,(2nd,1st Rerun)
12,25226952,Hu Tao (Rerun),none,Pyro,none,1,no
13,24808479,Kazuha,Klee (1st & 2nd Rerun),Anemo,Pyro,(1st,2nd Rerun)
14,22767455,Ayato,Venti (2nd Rerun),Hydro,Anemo,no,(2nd Rerun)
15,22750080,Klee,none,Pyro,none,no,no
16,19068372,Tighnari,Zhongli (3rd Rerun),Dendro,Geo,no,(3rd Rerun)
17,19052023,Cyno,Venti (3rd Rerun),Electro,Anemo,no,(3rd Rerun)
18,18437409,Tartaglia,Yae Miko (3rd & 1st Rerun),Hydro,Electro,(3rd,1st Rerun)
19,18361860,Alhaitham,Xiao (3rd Rerun),Dendro,Anemo,no,(3rd Rerun)
20,17459928,Alhaitham,Kazuha (1st & 2nd Rerun),Dendro,Anemo,(1st,2nd Rerun)
21,17026066,Albedo,Eula (Rerun),Geo,Cryo,no,1
22,16994406,Shenhe,Xiao (Rerun),Cryo,Anemo,no,1
23,16614209,Venti (Rerun),none,Anemo,none,1,no
24,16451006,Ayaka,none,Cryo,none,no,no
25,16264892,Zhongli,none,Geo,none,no,no
26,15731680,Nilou,Albedo (2nd Rerun),Hydro,Geo,no,(2nd Rerun)
27,15681840,Ganyu,Kokomi (2nd Rerun),Cryo,Hydro,no,(2nd Rerun)
28,15669918,Ganyu,none,Cryo,none,no,no
29,15110264,Yae Miko,none,Electro,none,no,no
30,14333266,Yoimiya (Rerun),none,Pyro,none,1,no
31,13443619,Tartaglia,none,Hydro,none,no,no
32,13404072,Itto,none,Geo,none,no,no
33,13198046,Dehya,Cyno (1st Rerun),Pyro,Electro,no,(1st Rerun)
34,13145115,Xiao,none,Anemo,none,no,no
35,12619390,Eula,none,Cryo,none,no,no
36,12586764,Itto (Rerun),none,Geo,none,1,no
37,12481634,Hu Tao,none,Pyro,none,no,no
38,11816107,Albedo,none,Geo,none,no,no
39,10215165,Zhongli (Rerun),none,Geo,none,1,no
40,9807112,Kazuha,none,Anemo,none,no,no
41,9505798,Keqing,none,Electro,none,no,no
42,9154188,Yoimiya,Yae Miko (3rd & 2nd Rerun),Pyro,Electro,(3rd,2nd Rerun)
43,9108580,Baizhu,Ganyu (3rd Rerun),Dendro,Cryo,no,(3rd Rerun)
44,8905726,Kokomi,Wanderer (3rd & 1st Rerun),Hydro,Anemo,(3rd,1st Rerun)
45,8615144,Yoimiya,none,Pyro,none,no,no
46,7785438,Tartaglia (2nd Rerun),none,Hydro,none,no,no
47,7020975,Kokomi,none,Hydro,none,no,no
48,7006180,Klee (Rerun),none,Pyro,none,1,no
49,6965445,Tartaglia (Rerun),none,Hydro,none,1,no
50,6458188,Eula,Klee (2nd & 3rd Rerun),Cryo,Pyro,(2nd,3rd Rerun)

#### The columns have been successfully created. Now I'll clean up the columns to make it easier to analyse

In [30]:
revenue['character1'] = revenue.character1.apply(lambda x: x.split('(')[0] if '(' in x else x)
revenue['character2'] = revenue.character2.apply(lambda x: x.split('(')[0] if '(' in x else x)
revenue['rerun1'] = revenue['rerun1'].map(lambda i: ''.join([x for x in i if x.isdigit()]))
revenue['rerun2'] = revenue['rerun2'].map(lambda i: ''.join([x for x in i if x.isdigit()]))
revenue.rename(columns={'rerun1':'banner1', 'rerun2':'banner2'}, inplace=True)

#### I decided it'd be easier to work with the banner number (i.e is it the first, second or third banner) instead of seeing whether it's a rerun or not

In [31]:
revenue['banner1'][46] = '2'
revenue['banner1'] = pd.to_numeric(revenue['banner1'])
revenue['banner2'] = pd.to_numeric(revenue['banner2'])
revenue['banner1'].fillna(0, inplace=True)
revenue['banner2'].fillna(0, inplace=True)

revenue['banner1'] = revenue['banner1'] + 1
revenue['banner2'] = revenue['banner2'] + 1

for index, char in enumerate(revenue['character2']):
    if char == 'none':
        revenue['banner2'][index] = 0

revenue

,Revenue (USD),character1,character2,element1,element2,banner1,banner2
0,46556153,Hu Tao,Yelan,Pyro,Hydro,3.0,2.0
1,37919130,Shougun,Ayato,Electro,Hydro,3.0,2.0
2,35962024,Ayaka,Shenhe,Cryo,none,3.0,2.0
3,35939066,Ayaka,none,Cryo,none,2.0,0.0
4,34017290,Nahida,Yoimiya,Dendro,Pyro,1.0,3.0
5,33560259,Shougun,Kokomi,Electro,Hydro,1.0,2.0
6,33020905,Raiden Shogun,none,Electro,none,1.0,0.0
7,32177144,Yelan,Xiao,Hydro,Anemo,1.0,3.0
8,30632752,Venti,none,Anemo,none,1.0,0.0
9,28019235,Nahida,Nilou,Dendro,Hydro,1.0,2.0
10,27126505,Wanderer,Itto,Anemo,Geo,1.0,3.0
11,26780298,Zhongli,Ganyu,Geo,Cryo,3.0,2.0
12,25226952,Hu Tao,none,Pyro,none,2.0,0.0
13,24808479,Kazuha,Klee,Anemo,Pyro,2.0,3.0
14,22767455,Ayato,Venti,Hydro,Anemo,1.0,3.0
15,22750080,Klee,none,Pyro,none,1.0,0.0
16,19068372,Tighnari,Zhongli,Dendro,Geo,1.0,4.0
17,19052023,Cyno,Venti,Electro,Anemo,1.0,4.0
18,18437409,Tartaglia,Yae Miko,Hydro,Electro,4.0,2.0
19,18361860,Alhaitham,Xiao,Dendro,Anemo,1.0,4.0
20,17459928,Alhaitham,Kazuha,Dendro,Anemo,2.0,3.0
21,17026066,Albedo,Eula,Geo,Cryo,1.0,2.0
22,16994406,Shenhe,Xiao,Cryo,Anemo,1.0,2.0
23,16614209,Venti,none,Anemo,none,2.0,0.0
24,16451006,Ayaka,none,Cryo,none,1.0,0.0
25,16264892,Zhongli,none,Geo,none,1.0,0.0
26,15731680,Nilou,Albedo,Hydro,Geo,1.0,3.0
27,15681840,Ganyu,Kokomi,Cryo,Hydro,1.0,3.0
28,15669918,Ganyu,none,Cryo,none,1.0,0.0
29,15110264,Yae Miko,none,Electro,none,1.0,0.0
30,14333266,Yoimiya,none,Pyro,none,2.0,0.0
31,13443619,Tartaglia,none,Hydro,none,1.0,0.0
32,13404072,Itto,none,Geo,none,1.0,0.0
33,13198046,Dehya,Cyno,Pyro,Electro,1.0,2.0
34,13145115,Xiao,none,Anemo,none,1.0,0.0
35,12619390,Eula,none,Cryo,none,1.0,0.0
36,12586764,Itto,none,Geo,none,2.0,0.0
37,12481634,Hu Tao,none,Pyro,none,1.0,0.0
38,11816107,Albedo,none,Geo,none,1.0,0.0
39,10215165,Zhongli,none,Geo,none,2.0,0.0
40,9807112,Kazuha,none,Anemo,none,1.0,0.0
41,9505798,Keqing,none,Electro,none,1.0,0.0
42,9154188,Yoimiya,Yae Miko,Pyro,Electro,4.0,3.0
43,9108580,Baizhu,Ganyu,Dendro,Cryo,1.0,4.0
44,8905726,Kokomi,Wanderer,Hydro,Anemo,4.0,2.0
45,8615144,Yoimiya,none,Pyro,none,1.0,0.0
46,7785438,Tartaglia,none,Hydro,none,3.0,0.0
47,7020975,Kokomi,none,Hydro,none,1.0,0.0
48,7006180,Klee,none,Pyro,none,2.0,0.0
49,6965445,Tartaglia,none,Hydro,none,2.0,0.0
50,6458188,Eula,Klee,Cryo,Pyro,3.0,4.0

 The next step is tricky. There is currently no information on how much an individual character did on a banner. As a result, I will use estimates. Please keep in mind that the data is not accurate but rather an estimate. I will use the global wish statistics from paimon.moe, to determine the ratio between the 2 characters and split the revenue accordingly. This info will be a very rough estimate since paimon.moe only contains data of its users and the revenue table contains data from ONLY the Chinese iOS market. However this is the only data I'm able to work with.

In [32]:
revenue['ratio1'] = revenue.character2.apply(lambda x: 100 if x == 'none' else np.nan)  
revenue['ratio2'] = np.nan
revenue['character1'].replace({revenue['character1'][5]: 'Shogun', 'Raiden Shogun': 'Shogun'}, inplace=True)

In [33]:
# [[char1, char2, ratio1, ratio2]] structure of the list of lists

def find_index_lst(char1, char2, lst):
    for index, sublist in enumerate(lst):
        if char1 == sublist[0] and char2 == sublist[1]:
            return index

def ratio(df, lst):
    for index, char in enumerate(revenue['character1']):
        if np.isnan(df['ratio1'][index]):
            lst_index = find_index_lst(char.strip(), revenue['character2'][index].strip(), lst)
            df['ratio1'][index] = lst[lst_index][2]
            df['ratio2'][index] = lst[lst_index][3]
        else:
            df['ratio2'][index] = 0
            
ratio_lst = [['Hu Tao', 'Yelan', 27.5, 40.4], ['Shogun', 'Ayato', 53.95, 13.4], ['Ayaka', 'Shenhe', 30.77, 36.26],
            ['Nahida', 'Yoimiya', 63.47, 5.14], ['Shogun', 'Kokomi', 52.14, 13.93], ['Yelan', 'Xiao', 48.76, 18.57],
            ['Nahida', 'Nilou', 48.28, 19.1], ['Wanderer', 'Itto', 59.59, 6.84], ['Zhongli', 'Ganyu', 37.21, 30.05],
            ['Kazuha', 'Klee', 59.14, 8.76], ['Ayato', 'Venti', 42.75, 24.46], ['Tighnari', 'Zhongli', 27.1, 39.5],
            ['Cyno', 'Venti', 47.41, 18.87], ['Tartaglia', 'Yae Miko', 24.52, 39.91], ['Alhaitham', 'Xiao', 51.05, 15.59],
            ['Alhaitham', 'Kazuha', 18.79, 49.34], ['Albedo', 'Eula', 34.15, 31.59], ['Shenhe', 'Xiao', 26.94, 40.14],
            ['Nilou', 'Albedo', 50.42, 16.77], ['Ganyu', 'Kokomi', 36.33, 29.54], ['Dehya', 'Cyno', 40.72, 24.04],
            ['Yoimiya', 'Yae Miko', 25.29, 40], ['Baizhu', 'Ganyu', 43.86, 22.26], ['Kokomi', 'Wanderer', 31.84, 34.68],
            ['Eula', 'Klee', 48, 18.34]]

ratio(revenue, ratio_lst)
revenue

,Revenue (USD),character1,character2,element1,element2,banner1,banner2,ratio1,ratio2
0,46556153,Hu Tao,Yelan,Pyro,Hydro,3.0,2.0,27.50,40.40
1,37919130,Shogun,Ayato,Electro,Hydro,3.0,2.0,53.95,13.40
2,35962024,Ayaka,Shenhe,Cryo,none,3.0,2.0,30.77,36.26
3,35939066,Ayaka,none,Cryo,none,2.0,0.0,100.00,0.00
4,34017290,Nahida,Yoimiya,Dendro,Pyro,1.0,3.0,63.47,5.14
5,33560259,Shogun,Kokomi,Electro,Hydro,1.0,2.0,52.14,13.93
6,33020905,Shogun,none,Electro,none,1.0,0.0,100.00,0.00
7,32177144,Yelan,Xiao,Hydro,Anemo,1.0,3.0,48.76,18.57
8,30632752,Venti,none,Anemo,none,1.0,0.0,100.00,0.00
9,28019235,Nahida,Nilou,Dendro,Hydro,1.0,2.0,48.28,19.10
10,27126505,Wanderer,Itto,Anemo,Geo,1.0,3.0,59.59,6.84
11,26780298,Zhongli,Ganyu,Geo,Cryo,3.0,2.0,37.21,30.05
12,25226952,Hu Tao,none,Pyro,none,2.0,0.0,100.00,0.00
13,24808479,Kazuha,Klee,Anemo,Pyro,2.0,3.0,59.14,8.76
14,22767455,Ayato,Venti,Hydro,Anemo,1.0,3.0,42.75,24.46
15,22750080,Klee,none,Pyro,none,1.0,0.0,100.00,0.00
16,19068372,Tighnari,Zhongli,Dendro,Geo,1.0,4.0,27.10,39.50
17,19052023,Cyno,Venti,Electro,Anemo,1.0,4.0,47.41,18.87
18,18437409,Tartaglia,Yae Miko,Hydro,Electro,4.0,2.0,24.52,39.91
19,18361860,Alhaitham,Xiao,Dendro,Anemo,1.0,4.0,51.05,15.59
20,17459928,Alhaitham,Kazuha,Dendro,Anemo,2.0,3.0,18.79,49.34
21,17026066,Albedo,Eula,Geo,Cryo,1.0,2.0,34.15,31.59
22,16994406,Shenhe,Xiao,Cryo,Anemo,1.0,2.0,26.94,40.14
23,16614209,Venti,none,Anemo,none,2.0,0.0,100.00,0.00
24,16451006,Ayaka,none,Cryo,none,1.0,0.0,100.00,0.00
25,16264892,Zhongli,none,Geo,none,1.0,0.0,100.00,0.00
26,15731680,Nilou,Albedo,Hydro,Geo,1.0,3.0,50.42,16.77
27,15681840,Ganyu,Kokomi,Cryo,Hydro,1.0,3.0,36.33,29.54
28,15669918,Ganyu,none,Cryo,none,1.0,0.0,100.00,0.00
29,15110264,Yae Miko,none,Electro,none,1.0,0.0,100.00,0.00
30,14333266,Yoimiya,none,Pyro,none,2.0,0.0,100.00,0.00
31,13443619,Tartaglia,none,Hydro,none,1.0,0.0,100.00,0.00
32,13404072,Itto,none,Geo,none,1.0,0.0,100.00,0.00
33,13198046,Dehya,Cyno,Pyro,Electro,1.0,2.0,40.72,24.04
34,13145115,Xiao,none,Anemo,none,1.0,0.0,100.00,0.00
35,12619390,Eula,none,Cryo,none,1.0,0.0,100.00,0.00
36,12586764,Itto,none,Geo,none,2.0,0.0,100.00,0.00
37,12481634,Hu Tao,none,Pyro,none,1.0,0.0,100.00,0.00
38,11816107,Albedo,none,Geo,none,1.0,0.0,100.00,0.00
39,10215165,Zhongli,none,Geo,none,2.0,0.0,100.00,0.00
40,9807112,Kazuha,none,Anemo,none,1.0,0.0,100.00,0.00
41,9505798,Keqing,none,Electro,none,1.0,0.0,100.00,0.00
42,9154188,Yoimiya,Yae Miko,Pyro,Electro,4.0,3.0,25.29,40.00
43,9108580,Baizhu,Ganyu,Dendro,Cryo,1.0,4.0,43.86,22.26
44,8905726,Kokomi,Wanderer,Hydro,Anemo,4.0,2.0,31.84,34.68
45,8615144,Yoimiya,none,Pyro,none,1.0,0.0,100.00,0.00
46,7785438,Tartaglia,none,Hydro,none,3.0,0.0,100.00,0.00
47,7020975,Kokomi,none,Hydro,none,1.0,0.0,100.00,0.00
48,7006180,Klee,none,Pyro,none,2.0,0.0,100.00,0.00
49,6965445,Tartaglia,none,Hydro,none,2.0,0.0,100.00,0.00
50,6458188,Eula,Klee,Cryo,Pyro,3.0,4.0,48.00,18.34